@model BootstrapModal
<modal-header model-heading="Add Paragraph"></modal-header>

<div class="modal-body">
    <div class="form-horizontal">
        <textarea id="pargraph_pad" class="h-100 w-100"></textarea>
    </div>
</div>

<modal-footer modal-footer-buttons="@Model.Footer"></modal-footer>




