@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<footer class="fixed-bottom">
    <hr />
    <p>&copy; 2018 - DarenTechs.com = Site Template from <a href="http://www.html5webtemplates.co.uk">HTML5webtemplates.co.uk</a></p>
</footer>