@{
    ViewData["Title"] = "DarenTechs Home";
}

<div class="container-fluid">
    <div class="row mb-1">
        <div id="picture_scene"></div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card w-100 rounded">
                <div class="card-header">
                    Latest News
                </div>
                <div class="card-body">
                    <h5 class="card-title">New Website Launched</h5>
                    <h6 class="card-subtitle mb-2 text-muted">May 1st, 2018</h6>
                    <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>

            <div class="card w-100 mt-2 rounded">
                <div class="card-header">
                    Special Links
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://github.com/bakerd13">My Github</a></li>
                    <li class="list-group-item"><a href="https://docs.microsoft.com/en-us/aspnet/core/"> Asp.net Core Docs</a></li>
                    <li class="list-group-item"><a href="https://www.pluralsight.com">Pluralsight</a></li>
                </ul>
            </div>
        </div>

        <div class="col-8">
            <div class="card w-100 rounded">
                <div class="card-header">
                    <h3>Welcome to DarenTechs Website</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Need to wite something good.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>