* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#logo_banner {
    margin-top: 0px
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #362C20;
    letter-spacing: 0em;
    padding: 0 0 5px 0;
}

h1, h2, h3 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;
}

h2 {
    font-size: 160%;
    padding: 9px 0 5px 0;
    color: #B48A7C;
}

h3 {
    font-size: 140%;
    padding: 5px 0 0 0;
}

h4, h6 {
    color: #B48A7C;
    padding: 0 0 5px 0;
    font: normal 110% arial;
    text-transform: uppercase;
}

h5, h6 {
    color: #888;
    font: normal 95% arial;
    letter-spacing: normal;
    padding: 0 0 15px 0;
}



blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

.sidebar_item ul {
    margin: 2px 0 22px 17px;
}

.sidebar_item ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em;
}

.sidebar_item ol {
    margin: 8px 0 22px 20px;
}

.sidebar_item ol li {
    margin: 0 0 11px 0;
}

.sidebar_item a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #B48A7C;
}

.left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 20px auto;
}

#logo, #site_content {
    margin-left: auto;
    margin-right: auto;
}

#picture_scene {
    background: transparent url(/images/banner.jpg) no-repeat;
    width: 860px;
    height: 180px;
    margin-bottom: 20px;
    border: 5px solid #DDD;
    margin: 0px auto;
}

#logo {
    width: 100%;
    position: relative;
    height: 100px;
    background: #1d1d1d;
}

#logo #logo_text {
    position: absolute;
    top: 10px;
    left: 0;
}

    #logo h1, #logo h2 {
        font: normal 300% 'century gothic', arial, sans-serif;
        border-bottom: 0;
        text-transform: none;
        margin: 0 0 0 9px;
    }

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
}

    #logo_text h1 a .logo_colour {
        color: #5E4238;
    }

#logo_text a:hover .logo_colour {
    color: #5E4238;
}

#logo_text h2 {
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #B48A7C;
}
