@model string
@using DarenTechs.Web.Models

<form asp-action="DeleteUser" role="form">
    <modal-header model-heading="Delete User"></modal-header>
    <div class="modal-body form-horizontal">
        Are you want to delete @Model?
    </div>
    @{
        var footer = new ModalFooter { SubmitButtonText = "Delete" };
        <modal-footer modal-footer-buttons="@footer"></modal-footer>
    }
</form>

